<!DOCTYPE html>
<html>
	<body>
		<p>
		<form method="post" action="/quizes/<%= quizid %>/comments/">
			Añadir comentario:<p>
			<input type="text" id="comment" name="comment[texto]" placeholder="Escriba aquí" /><p>
			<button type="submit">Enviar</button>
		</form>
	</body>
</html>			